@import './variables.scss';

input, .v-text-field, .v-label {
    background-color: $main;
    color: $lighter !important;
}
.v-input {
    max-height: 50px;
}
.v-text-field__details {
    display: none;
}

.v-text-field label {
    font-size: 24px;
}