<template>
  <div class="author-info d-flex justify-end pa-4 align-center">
    <div>
      <div class="font-weight-bold">{{ fullName }}</div>
      <a :href="gitURL" class="d-block"> GIT </a>
      <a :href="figma" class="d-block"> Figma</a>
    </div>
    <div class="author-info__img-wrap ml-2">
      <v-img :src="require('../assets/author.png')" max-height="60" max-width="60" contain />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthorInfo',
  data: () => ({
    fullName: 'Oleh Rohalskyi',
    gitURL: 'https://gitlab.com/oceanfull/nethernite_test/-/tree/master?ref_type=heads',
    figma: 'https://www.figma.com/file/ruDmXmXdiyBkz8Ubzvxudr/Nethernite?type=design&node-id=0%3A1&t=iG5KgdsxNHxJRM8B-1'
  })
}
</script>

<style lang="scss">
@import '@/style/variables.scss';

.author-info {
  width: 100vw;
  height: 100px;
  background-color: $lighter;
  color: $dark;

  & a {
    color: $dark !important;
  }

  &__img-wrap {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
  }
}
</style>
