<template>
  <v-container class="d-flex flex-column search-package">
    <form @submit.prevent="inputSearch">
      <v-text-field v-model="inputValue" :loading="loading" label="Search" @click:append="search({ text: inputValue })"
        append-icon="mdi-magnify" class="px-3"></v-text-field>
      <button type="submit" class="d-none"></button>
    </form>
    <div v-if="items.length" class="search-package__list py-2 mb-4">
      <SearchItem v-for="(item, i) in items" @click="openMoreInfo(item)" :key="i" :name="item.package.name"
        :version="item.package.version" :description="item.package.description"></SearchItem>
    </div>
    <v-pagination v-if="showPagination" v-model="page" @input="search({ text, isPage: true })" total-visible="7"
      :length="length"></v-pagination>
    <SearchDialog @close="dialogIsOpen = false" :item="currentItem" :opened="dialogIsOpen"></SearchDialog>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import SearchItem from '@/components/SearchItem.vue'
import SearchDialog from '@/components/SearchDialog.vue'

export default {
  name: 'search-package',
  data: () => ({
    page: 1,
    size: 10,
    text: '',
    inputValue: '',
    dialogIsOpen: false,
    currentItem: {}
  }),
  computed: {
    ...mapState('packages', [
      'items',
      'total',
      'loading'
    ]),
    showPagination() {
      return this.total > 10
    },
    trimmedText() {
      return this.text.trim()
    },
    length() {
      return Math.round(this.total / this.size)
    },
    from() {
      return (this.page - 1) * this.size
    }
  },
  methods: {
    ...mapActions({
      getPackagesList: 'packages/getList',
      getPackage: 'packages/getPackage'
    }),
    async openMoreInfo(item) {
      this.dialogIsOpen = true
      this.currentItem = item.package
      await this.getPackage(item.package.name + "@" + item.package.version)
    },
    validate() {
      if (!this.trimmedText) return false
      if (this.trimmedText.length < 2) return false
      return true
    },
    inputSearch(e) {
      if (e.target[0]) {
        this.text = e.target[0].value
      } else {
        this.text = e.target.value
      }
      this.search({ text: this.trimmedText })
    },
    search({ text, isPage = false }) {
      this.text = text
      if (!isPage) {
        this.page = 1
      }
      if (this.validate())
        this.getPackagesList({ text, size: this.size, from: this.from })
    }
  },
  components: {
    SearchItem,
    SearchDialog
  }
}
</script>

<style lang="scss" scoped>
@import '@/style/variables.scss';

.search-package {
  height: 100%;

  &__list {
    color: $lighter;
    background-color: $main;
  }
}
</style>