<template>
  <div @click="onClick" class="search-item mx-2 px-2">
    <div class="d-flex">
      <div>{{ name }}</div>
      <div class="ml-auto text-right ml-2">{{ version }}</div>
    </div>
    <div class="text-center search-item__discription text-truncate">{{ description || '&nbsp;' }}</div>
  </div>
</template>

<script>
export default {
  name: 'SearchItem',
  methods: {
    onClick() {
      this.$emit('click')
    }
  },
  props: {
    name: {
      type: String
    },
    version: {
      type: String
    },
    description: {
      type: String
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@/style/variables.scss';

.search-item {
  border-bottom: 1px solid $dark;

  &:hover {
    cursor: pointer;
    background-color: $ground;
  }

  &__discription {
    color: $light;
  }
}
</style>
