<template>
  <v-dialog width="auto" v-model="dialogIsOpen" @click:outside="$emit('close')" transition="dialog-bottom-transition">
    <v-skeleton-loader v-if="loadingOne" dark type="table-heading, list-item-two-line, actions"></v-skeleton-loader>
    <div v-if="!loadingOne" class="dialog d-flex flex-column pa-3">
      <div class="d-flex dialog__head "><span>{{ item.name }}</span><span class="ml-auto ml-2 text-right">{{ item.version
      }}</span></div>
      <div class="dialog__head my-1"> <span class="font-weight-bold"> default file: </span>{{ packageItem.default }}
      </div>
      <div class="dialog__discription overflow-y-auto">{{ item.description }}</div>
      <div class="dialog__tags mt-2">
        <div class="pb-3 d-flex flex-wrap">
          <div class="dialog__tag text-center px-2 mr-2 my-2" v-for="(tag, i) in item.keywords" :key="i">{{ tag }}</div>
        </div>
      </div>
      <v-btn class="dialog__submit align-self-end mt-2" width="40" text @click="$emit('close')">OK</v-btn>
    </div>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SearchDialog',
  data: () => ({
    dialogIsOpen: false
  }),
  props: {
    opened: {
      type: Boolean,
      required: true
    },
    item: {
      type: Object
    }
  },
  computed: {
    ...mapState('packages', [
      'loadingOne',
      'packageItem'
    ]),
  },
  watch: {
    opened(value) {
      this.dialogIsOpen = value
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/style/variables.scss';

.dialog {
  background-color: $dark;
  border: 2px solid $ground;
  border-radius: 8px;

  &__head {
    color: $light;
  }

  &__discription {
    color: $lighter;
  }

  &__tags {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__tag {
    border-radius: 3px;
    width: fit-content;
    height: 23px;
    background-color: $light;
    color: $ground;
  }

  &__submit {
    background-color: $light;
    color: $dark !important;
  }
}
</style>
