<template>
  <v-app>
    <header class="d-flex align-center justify-center">
      <v-img class="main-logo-img" :src="require('./assets/logo-main.png')" max-height="115" max-width="655" contain />
    </header>
    <v-main>
      <SearchPackage></SearchPackage>
    </v-main>
    <v-footer class="pa-0">
      <AuthorInfo></AuthorInfo>
    </v-footer>
  </v-app>
</template>

<script>
import SearchPackage from '@/components/SearchPackage.vue';
import AuthorInfo from '@/components/AuthorInfo.vue'

export default {
  name: 'App',
  components: {
    SearchPackage,
    AuthorInfo
  }
};
</script>

<style lang="scss" scoped>
@import '@/style/variables.scss';

.main-logo-img {
  @media screen and (max-width: $small) {
    width: 300px !important;
  }
}
</style>
